.component-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.price-note {
  padding: 5px;
  font-size: 14px;
}

.textfield-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-brand {
  font-size: 36px;
}

.product-model {
  color: rgb(75 75 75);
  margin: 5px auto;
  font-size: 24px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}

.current-price {
  font-size: 24px;
}

.is-loading {
  width: 50%;
  background-color: gray;
  visibility: hidden;
}
