.component-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.price-box {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.price-note {
  font-size: 14px;
  padding: 5px;
}

.textfield-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-brand {
  font-size: 36px;
}

.product-model {
  color: rgb(75 75 75);
  font-size: 24px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  margin: 5px auto;
}

.current-price {
  font-size: 24px;
}

.is-loading {
  background-color: gray;
  visibility: hidden;
  width: 50%;
}
