.box {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  max-width: 520px;
  padding: 60px;
}

.brand {
  font-size: 14px;
  padding: 10px 0;
  letter-spacing: 0.2rem;
}

.model {
  font-size: 36px;
  padding: 10px 0;
}

.description {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.currentPriceWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  & .currentPrice {
    padding: 0 10px;
    font-size: 36px;
  }
  & .sale {
    color: red;
  }
  & .note {
    color: gray;
    font-size: 14px;
  }
}

.pastPriceWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-left: 10px;
  & .priceWas {
    text-decoration: line-through;
    font-size: 18px;
  }
  & .priceDrop {
    color: red;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 10px;
  }
}

.SizeHeader {
  font-size: 16px;
  text-shadow: rgb(255, 254, 252) 1px 0 10px;
  margin: 20px 0 5px 0;
  text-decoration: underline;
  word-spacing: 0.1rem;
  letter-spacing: 0.15rem;
  font-variation-settings:
    "wght" 400,
    "YOPQ" 300;
}

.actionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 10px;
}

.itemsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 55px;
  background-color: hsl(230, 60%, 98%);
}
