.product-description-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg 0% 100%);
  max-width: 520px;
  padding: 20px 60px;
}

.user-action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-radius: 10px;
}

.short-description-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
