.iconTextButton {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  border: none;
  background-color: transparent;
  color: navy;
}

.displayedText {
  margin-top: -8px;
  font-size: 14px;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 300;
}

.carouselButton {
  border-radius: 5px;
  height: 45px;
  width: 45px;
  z-index: 2;
  opacity: 0.9;
  &:disabled {
    opacity: 0.1;
    filter: grayscale(0.6);
    &:hover {
      opacity: 0.1;
      cursor: unset;
    }
  }
}

@media (hover: hover) {
  .carouselButton:hover {
    opacity: 1;
    cursor: pointer;
    background-color: hsl(26, 87%, 80%);
  }
}

.iconBox {
  width: 30px;
  height: 30px;
}
