.barWrapper {
  width: 100%;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  filter: drop-shadow(0 0 1px blue);
}

.bar {
  flex: 1;
  min-height: 100%;
  margin: 0 1px;
  border-radius: 2px;
}

.avaiable {
  background-color: rgb(81, 151, 255);
}

.unavaiable {
  background-color: rgb(41, 41, 41);
}

.notInStock {
  font-size: 16px;
  font-variation-settings:
  /* Weight */
    "wght" 400,
    /* Thin Stroke */ "YOPQ" 300;
  letter-spacing: 1px;
}
