.thumbnailBox {
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(226, 226, 226);
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: white;
  &:hover {
    filter: drop-shadow(0 0 0.2rem gray);
    transition: all 300ms ease 0s;
    cursor: pointer;
  }
}

.cardImageBox {
  display: flex;
  justify-content: center;
  padding: 30px;
  position: relative;
  & > img {
    width: 100%;
    &:hover {
      transform: scale(1.05) translateY(-5px);
      transition: all 300ms ease 0s;
      cursor: pointer;
    }
  }
  & .discountPercentage {
    position: absolute;
    background-color: rgb(190, 0, 0);
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    transform: translateX(50%);
    font-size: 14px;
    right: 2rem;
  }
}

.rowFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  &.brand {
    margin: 5px auto;
    font-size: 16px;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
  }
  &.title {
    color: gray;
    margin: 5px auto;
    font-size: 16px;
  }
  &.price {
    margin: 5px auto;
    font-size: 18px;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
  }
  &.initialPrice {
    padding: 0 10px;
    color: gray;
    text-decoration: line-through;
  }
}
