.header-button {
  height: 60px;
  padding: 2px;
  width: 60px;

  :hover {
    cursor: pointer;
    filter: invert(50%);
  }
}

.drawer-component {
  width: 100%;
}

.drawer-header {
  display: flex;
  font-size: 20px;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 300;
  letter-spacing: 0.05rem;
  padding: 15px 20px;
}

.choose-gender-list-container {
  padding-top: 30px;
  width: 100%;
}
