.header-button {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.drawer-component {
  width: 100%;
}

.drawer-header {
  display: flex;
  font-size: 20px;
  letter-spacing: 0.05rem;
  padding: 15px 20px;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 300;
}

.choose-gender-list-container {
  padding-top: 30px;
  width: 100%;
}
