.cart-view-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .cart-contents-container {
    background-color: white;
    flex: 1;
    margin: 10px;
    margin-top: 30px;
    min-height: 50px;
    width: 100%;
  }

  .main-cart-header {
    font-size: 24px;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
    padding: 15px;
  }

  .cart-list-container {
    width: 100%;
  }
}

.emptyCartView {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 300px;

  .emptyCart {
    font-size: 18px;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
  }
}
