.CartView {
  width: 1000px;
  /*   border: 1px solid gray; */
  display: flex;
}

.productBox {
  background-color: white;
  min-width: 500px;
  flex: 1;
  min-height: 50px;
  border: 1px solid rgb(216, 216, 216);
  margin: 10px;
}
.header {
  font-size: 24px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  padding: 15px;
}

.largeCartThumbnailWrapper {
  width: 100%;
}

.summaryBox {
  background-color: white;
  min-width: 250px;
  min-height: 50px;
  border: 1px solid gray;
  margin: 10px;
}

.emptyCartView {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.emptyCart {
  font-size: 18px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}
