.view-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  width: 100%;

  .form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 10px;
    width: calc(min(100%, 400px));

    @media (width > 600px) {
      padding: 0;
      width: 400px;
    }

    .register-header {
      font-size: 24px;
      padding: 40px 0;
      text-align: center;
      width: 100%;
    }

    .register-error-message {
      background-color: black;
      border: 2px solid black;
      color: white;
      margin: 0 50px;
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
    }

    .email-entry-form {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .submit-container {
      display: flex;
      height: 50px;
      justify-content: end;
    }
  }
}

.register-redirection-container {
  border: 2px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .register-link {
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
    padding: 5px;
    text-decoration: underline;
  }
}
