/* reset */
button,
h3 {
  all: unset;
}

.accordion-root {
  background-color: rgb(155 155 37);
  border: 1px solid black;
  box-shadow: 0 2px 10px rgb(207 207 207);
  width: 400px;

  @media (width <= 900px) {
    width: max(300px, 70vw);
  }
}

.accordion-item {
  margin-top: 1px;
  overflow: hidden;
}

.accordion-item:first-child {
  margin-top: 0;
}

.accordion-item:focus-within {
  box-shadow: 0 0 0 2px black;
  position: relative;
  z-index: 1;
}

.accordion-header {
  display: flex;
}

.accordion-trigger {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 0 rgb(199 179 179);
  color: rgb(87 87 87);
  display: flex;
  flex: 1;
  font-family: inherit;
  font-size: 16px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  height: 45px;
  justify-content: space-between;
  line-height: 1;
  padding: 0 20px;
}

.accordion-trigger:hover {
  background-color: rgb(231 231 231);
  cursor: pointer;
}

.accordion-content {
  background-color: rgb(255 255 255);
  color: rgb(26 26 26);
  font-size: 14px;
  overflow: hidden;
}

.accordion-content[data-state="open"] {
  animation: slide-down 100ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-content[data-state="closed"] {
  animation: slide-up 100ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-content-text {
  padding: 15px 20px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.accordion-chevron {
  color: bisque;
  transition: transform 100ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-trigger[data-state="open"] > .accordion-chevron {
  transform: rotate(180deg);
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.product-value-span::first-letter {
  text-transform: capitalize;
}
