.description-element {
  align-items: center;
  display: flex;
  padding: 2px;
}

.description-detail-element {
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  padding: 0 4px;

  &::first-letter {
    text-transform: uppercase;
  }
}
