.grid-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (width >= 600px) {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
    padding: 20px 30px;
  }

  @media (width >= 766px) {
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 1rem), 1fr));
  }

  @media (width >= 900px) {
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 2rem), 1fr));
  }
}

.general-header {
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding: 20px;

  @media (width >= 600px) {
    padding: 10px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.no-products-found {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 33vh;
  width: 100%;
}
