.mini-header-relative-container {
  align-items: center;
  background-color: white;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 2;

  &.header-not-visible {
    display: none;
  }

  .site-home-button-wrapper {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 50%;
  }
}
