.product-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0;

  .inline-gallery-wrapper {
    width: 100vw;
  }

  .product-description-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

@media (width >= 600px) {
  .product-container {
    flex-direction: row;
    margin-bottom: 50px;
    padding: 20px 30px;

    .inline-gallery-wrapper {
      width: 650px;
    }

    .product-description-wrapper {
      width: 550px;
    }
  }
}

.portal-galery-content {
  align-items: center;
  background-color: rgb(255 255 255 / 100%);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
