.product {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
}

.mainGalleryWrapper {
  width: 650px;
}

.descriptionWrapper {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portalGalleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255 255 255 / 100%);
}
