.product {
  display: flex;
  flex-direction: row;
}

.mainGalleryWrapper {
  height: 660px;
  /*   display: flex; */
  /*   flex-direction: column; */
  width: 550px;
}

.portalGalleryWrapper {
  position: relative;
  height: 100%;
  /*   width: 60%; */
  background-color: rgba(255, 255, 255, 1);
}

@media (min-width: 900px) {
  .portalGalleryWrapper {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .portalGalleryWrapper {
    width: 35%;
  }
}
