.size-textfield-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 300;
  height: 100%;
  width: 100%;
}

.low-stock-warning {
  color: rgb(39 39 39);
  font-size: 16px;
  font-variation-settings:
    "wght" 300,
    "YOPQ" 300;
  padding: 0 15px;
}
