:root {
  --change-amount-button-enabled: rgb(254, 255, 196);
  --change-amount-button-disabled: yellow;
}

.changeAmountButton {
  font-variation-settings:
    "wght" 400,
    "YOPQ" 200;
  font-family: inherit;
  font-size: 30px;
  text-align: center;
  color: var(--change-amount-button-enabled);
  display: flex;
  width: 40px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
  margin: 0;
  background-color: orange;
  &:disabled {
    background-color: wheat;
  }
}

.left {
  border-radius: 5px 0 0 5px;
}

.right {
  border-radius: 0 5px 5px 0;
}

@media (hover: hover) {
  .changeAmountButton:hover {
    font-variation-settings:
      "wght" 600,
      "YOPQ" 200;
    transition: font-variation-settings 0.2s;
    filter: hue-rotate(-30deg);
    &:disabled {
      background-color: wheat;
      filter: unset;
      font-variation-settings:
        "wght" 400,
        "YOPQ" 200;
    }
  }
}
