:root {
  --change-amount-button-enabled: red;
  --change-amount-button-disabled: yellow;
}

.changeAmountButton {
  font-variation-settings:
    "wght" 400,
    "YOPQ" 200;
  font-family: inherit;
  font-size: 30px;
  text-align: center;
  color: var(--change-amount-button-enabled);
  display: flex;
  width: 40px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
  margin: 0;
  background-color: hsl(45, 100%, 95%);
}

.left {
  border-radius: 5px 0 0 5px;
}

.right {
  border-radius: 0 5px 5px 0;
}

@media (hover: hover) {
  .changeAmountButton:hover {
    filter: hue-rotate(20deg);
    font-variation-settings:
      "wght" 700,
      "YOPQ" 300;
    transition: font-variation-settings 0.2s;
  }
}
