.link-element-component {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-family: inherit;
  height: 25px;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  width: 25px;
}
