.cartProduct {
  align-items: center;
  background-color: white;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  display: flex;
  font-family: inherit;
  height: 120px;
  justify-content: start;
  padding: 10px;
  text-decoration: none;

  &:hover {
    filter: invert(10%);
    transition: filter 0.2s;
  }

  &:active {
    filter: invert(25%);
  }
}

.cartProductThumbnail {
  display: flex;
  height: 100%;
  margin: 10px;
  width: auto;

  & > img {
    height: 100%;
    width: auto;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.boldChildBox {
  color: black;
  display: flex;
  font-size: 12px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  justify-content: space-between;
  letter-spacing: 0.2rem;
}

.companyProdNameBox {
  width: 110px;
}

.company {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.productName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.price {
  font-size: 16px;
}

.shadedChildBox {
  color: gray;
  font-size: 12px;
  font-variation-settings:
    "wght" 400,
    "YOPQ" 200;
  letter-spacing: unset;
}

.productSize {
  padding: 5px 0;
}
