:root {
  --general-text-button-enabled: red;
  --general-text-button-disabled: yellow;
}

.GeneralTextButton {
  font-family: inherit;
  color: var(--button-enabled);
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: hsl(26, 100%, 55%);
  padding: 0;
  margin: 0;
}

.addToCart {
  max-width: 270px;
  flex: 1;
  min-width: 110px;
  margin-left: 20px;
}

@media (hover: hover) {
  .GeneralTextButton:hover {
    background-color: green;
  }
}

.disabled {
  color: var(--general-text-button-disabled);
}
