:root {
  --general-text-button-enabled: rgb(17 17 17);
  --general-text-button-disabled: yellow;
}

.input-button {
  font-family: inherit;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(46 46 46);
  background-color: rgb(250 250 250);
  padding: 10px;
  margin: 0;
  transition: all 100ms;
  width: 80px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px rgb(66 66 66));
    border: 2px solid rgb(0 0 0);
    color: rgb(0 0 0);
  }
}

.addToCart {
  font-family: inherit;
  font-size: 24px;
  color: var(--general-text-button-enabled);
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(255 209 109);
  padding: 0;
  margin: 0;
  max-width: 270px;
  flex: 1;
  min-width: 110px;
  margin-left: 20px;

  &:disabled {
    background-color: wheat;
  }
}

.editItems {
  font-family: inherit;
  font-size: 12px;
  color: black;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  margin: 0;

  &:disabled {
    background-color: wheat;
  }
}

.deleteItems {
  font-family: inherit;
  font-size: 12px;
  color: black;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  letter-spacing: 0.1rem;

  &:disabled {
    background-color: wheat;
  }
}

@media (hover: hover) {
  .addToCart:hover {
    background-color: orange;
    filter: hue-rotate(-30deg);

    &:disabled {
      background-color: wheat;
      filter: unset;
    }
  }

  .editItems:hover {
    border: 1px solid gray;
    transition: border 0.2s;
    text-decoration-line: underline;

    &:disabled {
      filter: unset;
    }
  }

  .deleteItems:hover {
    border: 1px solid gray;
    transition: border 0.2s;
    text-decoration-line: underline;

    &:disabled {
      filter: unset;
    }
  }
}

@keyframes custom-clip-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.edit-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  font-variation-settings:
    "wght" 400,
    "YOPQ" 300;
  font-size: 24px;
  letter-spacing: 0.1rem;
  margin: 0;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  &:active {
    background-color: #b1b1b1;
  }
}

.logout-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  font-variation-settings:
    "wght" 400,
    "YOPQ" 300;
  font-size: 24px;
  letter-spacing: 0.1rem;
  margin: 0;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  &:active {
    background-color: #b1b1b1;
  }
}
