.link-element {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  padding: 10px;
  margin: 0 10px;
  letter-spacing: 0.1rem;
  font-family: inherit;
  text-decoration: none;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;

  &:hover {
    background-color: rgb(218 217 213);
  }
}

.link-element-active {
  color: white;
  background-color: black;
}

.link-element-size-medium {
  font-size: 16px;
}

.link-element-size-large {
  font-size: 16px;
}

@media (width >= 600px) {
  .link-element-size-large {
    font-size: 24px;
    letter-spacing: 0.2rem;
  }
}
