.link-element {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px 0;
  margin: 5px;
  letter-spacing: 0.1rem;
  font-family: inherit;
  text-decoration: none;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  border: 4px solid transparent;
}

.link-element-active {
  color: white;
  background-color: black;
}

.link-element-size-medium {
  font-size: 16px;
}

.link-element-size-large {
  font-size: 16px;

  &:hover {
    border: 4px solid rgb(226 226 226);
  }
}

@media (width >= 400px) {
  .link-element-size-large {
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    letter-spacing: 0.2rem;
  }
}

@media (width >= 600px) {
  .link-element-size-large {
    font-size: 24px;
    letter-spacing: 0.2rem;
    padding: 20px;
  }
}
