.user-view-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .user-panel {
    width: 1000px;

    .login-error-message {
      background-color: black;
      border: 2px solid black;
      color: white;
      margin: 0 50px;
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      width: min(300px, 100%);
    }

    .user-panel-header {
      font-size: 24px;
      padding: 30px;
      text-align: center;
    }

    .user-panel-body {
      font-size: 20px;
      text-align: center;

      .success-logout-container {
        border: 2px solid black;
        font-size: 16px;
        margin: 0 50px;
        margin-bottom: 20px;
        max-width: 250px;
        padding: 10px;
        text-align: center;
      }
    }

    .logout-container {
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: center;
      text-align: center;

      .logout-body {
        border: 2px solid black;
        font-size: 16px;
        margin: 0 50px;
        margin-bottom: 20px;
        max-width: 250px;
        padding: 10px;
        text-align: center;
      }
    }
  }

  .logout-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
  }

  .logout-button-wrapper {
    height: 50px;
    width: 200px;
  }
}
