.user-view-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-panel {
    width: 1000px;

    .user-panel-header {
      font-size: 24px;
      text-align: center;
      padding: 30px;
    }

    .user-panel-body {
      font-size: 20px;
      text-align: center;
    }
  }

  .logout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .logout-button-wrapper {
    width: 200px;
    height: 50px;
  }
}
