.user-modal-container {
  background-color: transparent;
  border: 4px solid transparent;
  border-bottom: none;
  box-sizing: border-box;
  display: none;
  height: 100px;
  position: absolute;
  width: 80px;
  z-index: 9;

  @media (width >= 600px) {
    display: block;
  }

  .user-modal {
    display: none;
  }

  &.modal-active {
    background-color: white;
    border: 4px solid rgb(226 226 226);
    border-bottom: none;

    .user-modal {
      background-color: white;
      border: 4px solid rgb(226 226 226);
      display: block;
      height: auto;
      left: -124px;
      position: relative;
      top: 96px;
      width: 200px;

      .user-account {
        align-items: center;
        border-bottom: 2px solid rgb(226 226 226);
        display: flex;
        height: 50px;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .user-login {
        align-items: center;
        border-bottom: 2px solid rgb(226 226 226);
        display: flex;
        height: 50px;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .user-logout {
        align-items: center;
        border-bottom: 2px solid rgb(226 226 226);
        display: flex;
        height: 50px;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .user-register {
        align-items: center;
        border-bottom: 2px solid rgb(226 226 226);
        display: flex;
        height: 50px;
        justify-content: center;
        text-align: center;
        width: 100%;
      }

      .user-not-valid {
        align-items: center;
        border-bottom: 2px solid rgb(226 226 226);
        display: flex;
        height: auto;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
    }

    .hide-border-element {
      background-color: white;
      border: none;
      height: 4px;
      position: absolute;
      top: 96px;
      width: 72px;
      z-index: 1;
    }
  }
}
