.imageButton {
  align-items: center;
  background-color: var(--pale-orange);
  border: 0;
  border-radius: 50%;
  display: flex;
  fill: var(--button-enabled);
  height: 50px;
  justify-content: center;
  padding: 3px;
  transition: filter 0.3s;
  width: 50px;
}

.imageButton:active {
  background-color: var(--basic-orange);
}

.imageButton > img {
  height: 100%;
  width: 100%;
}
