.image-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.thumbnail-placeholder-box {
  padding: 40px;
}

//NOTE to be fixed
.product-image {
  width: 100%;

  &.loading-content {
    display: none;
  }

  &.hovered-state {
    transform: scale(1.05) translateY(-5px);
    transition: all 300ms ease 0s;
    cursor: pointer;
  }
}

.loading-state-box {
  width: 100%;
  padding: 40px;
}

//NOTE to be fixed
.modal-figure {
  height: 100vh;
  width: unset;
}
