/* ProductGallery.module.scss */

.component-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-gallery-wrapper {
  height: 100%;
  width: auto;

  /*   margin-left: 0; */
}

.main-gallery-swiper {
  height: 100%;
  width: 100%;
}

.thumbnail-gallery-wrapper {
  height: 170px;
  padding: 10px 0;
  width: 100%;
}

.thumbnail-gallery-swiper {
  height: 100%;
  width: 100%;
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */ // necessary due to css modules
  :global(.swiper-slide) {
    opacity: 0.4;
  }
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */ // necessary due to css modules
  :global(.swiper-slide-thumb-active) {
    opacity: 1;
  }
}

.thumbnail-gallery-wrapper-modal {
  display: none;
}

.main-gallery-wrapper-modal {
  height: 100vh;
}

.main-gallery-wrapper-modal > img {
  height: 100vh;
}

.mouseover-figure-wrapper {
  width: 100%;
  height: 100%;
}
