.componentBox {
  width: 100%;
  height: 100%;
}

.mainImageBox {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;

  &.zoom {
    cursor: zoom-in;
  }

  & > img {
    animation: fade 3s infinite;
    width: 100%;
    height: auto;
  }
}

.mainImageElement {
  list-style-type: none;
  opacity: 0;
  transition: opacity 0.5s;
  height: auto;
  width: 100%;
}

.preventSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.current {
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.thumbnailBoxWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  margin-bottom: 10px;
}

.thumbnailBoxOverflow {
  position: relative;
  width: 400px;
  height: 100px;
  overflow: hidden;
}

.thumbnailBox {
  --thumbnail-size: 100px;
  width: 400px;
  height: var(--thumbnail-size);
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 200ms transform ease-in-out;
  transition-delay: 200ms;
}

.thumbnailList {
  background-size: contain;
  min-width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 10px;
  border: 3px solid beige;
  & > img {
    width: 100%;
    height: auto;
    z-index: 0;
    border-radius: 10px;
  }
  &:hover {
    filter: brightness(1.1);
    transition: filter 200ms;
    border: 3px solid white;
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 300ms ease 0s;
  }
}

.currentThumbnail {
  border: 3px solid gray;
}

.portal {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: fixed;
  width: 1200px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
