.component-box {
  align-items: center;
  border-bottom: 2px solid rgb(235 235 235);
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 10px;

  .major-content-warpper {
    display: flex;
    flex: 1;
  }

  @media (width <= 600px) {
    .major-content-warpper {
      align-items: right;
      flex: unset;
      height: 70px;
      justify-content: center;
      width: 100%;
    }
  }

  .icon-wrapper {
    height: 50px;
    margin: 0 50px;
    width: 50px;
  }

  @media (width <= 600px) {
    .icon-wrapper {
      margin: 0 10px;
    }
  }

  .data-wrapper {
    color: black;
    flex: 1;
    font-size: 16px;

    .prop-title-container {
      font-variation-settings:
        "wght" 600,
        "YOPQ" 300;
      height: 25px;
      letter-spacing: 0.1rem;
      max-width: 250px;
      text-align: start;
      text-overflow: ellipsis;
    }

    .user-data-container {
      font-variation-settings:
        "wght" 400,
        "YOPQ" 300;
      height: 25px;
      max-width: 250px;
      overflow: hidden;
      text-align: start;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }
  }

  @media (width <= 600px) {
    .data-wrapper {
      flex: unset;
      width: 100%;
    }
  }

  .edit-button-wrapper {
    height: 50px;
    width: 300px;
  }

  @media (width <= 600px) {
    .edit-button-wrapper {
      width: 100%;
    }
  }
}

@media (width <= 600px) {
  .component-box {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
  }
}
