.gridWrapper {
  width: 100%;
  padding: 20px 30px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.no-products-found {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* @media (min-width: 600px) {
  .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1rem), 1fr));
  }
} */

@media (width >= 766px) {
  .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 1rem), 1fr));
  }
}

@media (width >= 900px) {
  .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 2rem), 1fr));
  }
}
