.sizesTable {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: auto;
  z-index: 9;
  background-color: white;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 300;
  letter-spacing: 2px;
  font-size: 24px;
  padding: 10px;
}

.sizeArrayWrapper {
  position: relative;
  height: auto;
  overflow-y: scroll;
}

.sizeField {
  font-size: 16px;
  font-variation-settings:
  /* Weight */
    "wght" 400,
    /* Thin Stroke */ "YOPQ" 300;
  padding: 10px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid rgb(223, 223, 223);
  &:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
  }
}

.barWrapper {
  min-width: 70px;
}
