.login-container {
  align-items: center;
  color: rgb(124 101 24);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  height: 80px;
  justify-content: start;
  max-width: 200px;
  text-align: center;

  @media (width >= 600px) {
    font-size: 18px;
  }

  .user-name {
    color: black;
    letter-spacing: 0.1rem;
  }
}

.user-avatar-warpper {
  max-width: 50px;
}

.loader-wrapper {
  display: flex;
  padding: 5px;
  width: 50px;
}
