.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  border: none;
  background-color: transparent;
  &:disabled {
    opacity: 0.1;
    filter: grayscale(0.6);
  }
}

.cartButton {
  height: 20px;
  width: 20px;
  transition: filter 0.3s;
  margin: 15px 10px;
  fill: var(--button-enabled);
  border-radius: 3px;
}

.carouselButton {
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  height: 35px;
  width: 35px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    opacity: 1;
    cursor: pointer;
    background-color: blue;
  }
  &:active {
    filter: hue-rotate(90deg);
  }
}

.filled {
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 10px;
  opacity: 0.7;
  margin: 0 -30px;
}

.carouselButton.prev {
  left: 0;
}

.carouselButton.next {
  right: 0;
}
