.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  border: none;
  background-color: transparent;
}

.cartButton {
  height: 20px;
  width: 20px;
  transition: filter 0.3s;
  margin: 15px 10px;
  fill: var(--button-enabled);
  border-radius: 3px;
}

.carouselButton {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: blue;
  }
  &:active {
    filter: hue-rotate(90deg);
  }
}

.carouselButton.prev {
  left: 0;
}

.carouselButton.next {
  right: 0;
}

.disabled {
  background-color: red;
}
