.portal {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: white;
  display: flex;
  height: 100vh;
  inset: 0;
  justify-content: center;
  position: fixed;
  transition: margin-right 4s ease-in-out 1s;
  width: 100vw;
  z-index: 9;
}
