.cart-modal-container {
  display: none;

  @media (width >= 600px) {
    background-color: white;
    border: 4px solid rgb(226 226 226);
    display: flex;
    flex-direction: column;
    max-height: 530px;
    padding: 10px;
    position: absolute;
    right: -4px; // override parent border 4px
    top: 56px; // override parent border 4px
    width: 430px;
    z-index: 1;
  }

  .cart-overflow-container {
    -ms-overflow-style: none; /* IE and Edge */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    width: 100%;
  }

  .cart-overflow-container::-webkit-scrollbar {
    display: none;
  }

  .empty-cart {
    font-size: 18px;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
    padding-bottom: 10px;
  }

  .redirect-text {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .cart-link-element {
    align-items: center;
    background-color: black;
    border: 2px solid whitesmoke;
    color: white;
    font-family: inherit;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
    height: auto;
    justify-content: center;
    letter-spacing: 0.2rem;
    padding: 10px;
    text-decoration: none;
    user-select: none;

    &:hover {
      filter: invert(75%);
      transition: filter 0.2s;
    }

    &.cart {
      text-align: center;
      width: 100%;
    }

    &:active {
      background-color: rgb(131 131 131);
      filter: unset;
    }
  }
}
