.cartModalWrapper {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 56px; //override parent border 4px
  right: -4px; //override parent border 4px
  z-index: 1;
  border: 4px solid rgb(226, 226, 226);
  padding: 10px;
  max-height: 400px;
}

.cartOverflowContainer {
  width: 100%;
  overflow-y: scroll;
}

.cartOverflowContainer::-webkit-scrollbar {
  display: none;
}

.cartOverflowContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.emptyCart {
  padding-bottom: 10px;
  font-size: 18px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}

.redirectToOther {
  padding-bottom: 5px;
  font-size: 14px;
}

.linkElement {
  color: white;
  background-color: black;
  border: 2px solid whitesmoke;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 0.2rem;
  font-family: inherit;
  text-decoration: none;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  &:hover {
    transition: filter 0.2s;
    filter: invert(75%);
  }
  &.cart {
    width: 100%;
    text-align: center;
  }
  &:active {
    background-color: rgb(131, 131, 131);
    filter: unset;
  }
}
