body {
  margin: 0;
  font-family: "Kumbh Sans";
  font-variation-settings:
  /* Weight */
    "wght" 300,
    /* Thin Stroke */ "YOPQ" 300;
}

.backgroundWrapper {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--pale-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
