body {
  box-sizing: border-box;
  font-family: "Kumbh Sans";
  font-variation-settings:
    "wght" 300,
    "YOPQ" 300;
  margin: 0;
}

.background-wrapper {
  align-items: left;
  background-color: hsl(0deg 0% 100%);
  display: flex;
  height: auto;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
