.product-thumbnail {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.product-content {
  border: 2px solid rgb(226 226 226);
  border-radius: 5px;
  border-width: 2px;
  filter: blur(8px);
  height: 100%;
  width: 100%;
}

.loading-state-box {
  height: 115px;
  margin-top: -20px;
  width: 100%;
}
