.CartThumbnailLarge {
  color: red;
  background-color: white;
  display: flex;
  border: 2px solid whitesmoke;
  height: 120px;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  text-decoration: none;
}

.cartProductThumbnail {
  display: flex;
  height: 100%;
  width: auto;
  margin: 10px;
  background-color: pink;
  & > img {
    width: auto;
    height: 100%;
  }
}
.cartProduct {
  &:hover {
    text-decoration-line: underline;
  }
  &:active {
    filter: invert(25%);
  }
}
.textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.boldChildBox {
  font-size: 14px;
  display: flex;
  color: black;
  justify-content: space-between;
  letter-spacing: 0.05rem;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}
.companyProdNameBox {
  max-width: 400px;
}
.company {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadedChildBox {
  font-size: 12px;
  color: gray;
  letter-spacing: unset;
  font-variation-settings:
    "wght" 400,
    "YOPQ" 200;
}
.productSize {
  font-size: 13px;
  letter-spacing: 0.05rem;
  padding: 5px 0;
  color: black;
  font-variation-settings:
    "wght" 700,
    "YOPQ" 250;
}

.prodNo {
  text-transform: uppercase;
  font-size: 11px;
}

.gender {
  text-transform: capitalize;
}

.actionBox {
  color: black;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  justify-content: space-between;
  height: 100%;
  align-items: end;
}

.priceBox {
  text-align: end;
}

.subtotalPrice {
  font-size: 22px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 200;
}
.itemPrice {
  font-size: 11px;

  padding-top: 5px;
}

.buttonGroupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 200;
  font-size: 20px;
}

.itemsCountTitle {
  font-size: 12px;
}
