.cartModalWrapper {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 58px; //override parent border 2px
  right: -2px; //override parent border 2px
  z-index: 1;
  border: 2px solid gray;
  padding: 10px;
  transition: all 2s /*  ease-out */;
  overflow-y: scroll;
  max-height: 500px;
}

.cartModalWrapper::-webkit-scrollbar {
  display: none;
}

.cartModalWrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.emptyCart {
  padding-bottom: 10px;
  font-size: 18px;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}

.redirectToOther {
  padding-bottom: 5px;
  font-size: 14px;
}

.linkElement {
  color: white;
  background-color: black;
  border: 2px solid whitesmoke;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 0.2rem;
  font-family: inherit;
  text-decoration: none;
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
  &:hover {
    transition: filter 0.2s;
    filter: invert(75%);
  }
  &.cart {
    width: 100%;
    text-align: center;
  }
}
