.appContainer {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
