.app-container {
  background-color: hsl(0deg 0% 100%);
  display: flex;
  flex-direction: column;
  width: 100vw;
}

@media (width >= 1200px) {
  .app-container {
    align-items: center;
    background-color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 1200px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
