.cartButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin: auto;
  position: relative;
  background-color: white;
  z-index: 3;
  border: 2px solid transparent;
  border-bottom: none;
}

.cartOpened {
  border: 2px solid gray;
  border-bottom: none;
}

.itemCountSticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 5px;
  min-width: 1rem;
  min-height: 1rem;
  padding: 0.2rem;
  z-index: 2;
  border-radius: 20%;
  background-color: #ff9419;
  color: rgb(109, 109, 109);
  font-variation-settings:
    "wght" 600,
    "YOPQ" 300;
}

.hideBorderBox {
  position: absolute;
  z-index: 2;
  height: 2px;
  width: 56px;
  background-color: white;
  bottom: -2px;
  right: 0;
}
