.component-container {
  align-items: center;
  background-color: white;
  border: 4px solid transparent;
  border-bottom: none;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: auto;
  position: relative;
  width: 60px;
  z-index: 3;

  &.cart-modal-active {
    @media (width >= 600px) {
      border: 4px solid rgb(226 226 226);
      border-bottom: none;
    }
  }

  .total-items-quantity-sticker {
    align-items: center;
    background-color: rgb(0 0 0);
    border-radius: 50%;
    color: rgb(255 255 255);
    display: flex;
    font-variation-settings:
      "wght" 600,
      "YOPQ" 300;
    height: 30px;
    justify-content: center;
    padding: 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    z-index: 2;
  }

  .hide-border-on-modal-active {
    background-color: white;
    bottom: -4px;
    height: 6px;
    position: absolute;
    width: 52px;
    z-index: 2;
  }
}
