.DotCounter {
  padding: 20px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: rgb(177, 177, 177);
  width: 7px;
  height: 7px;
  margin: 0 2px;
}

.current {
  background-color: rgb(63, 63, 63);
  width: 12px;
  height: 12px;
}
