.size-option {
  border-right: 1px solid rgb(75 75 75);
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
  height: 1.5rem;
  margin: 2px 0;
  min-width: 30px;
  padding: 5px;
  place-content: center center;

  &:last-child {
    border-right: 1px solid transparent;
  }
}

.out-of-stock-label {
  text-decoration: line-through;
}
